<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Create your Jupyter Notebook

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Describe Data Science tools and their usage  
- Create and format tables in Markdown  
- Understand basic Markdown syntax in Jupyter Notebook

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Seaborn
2. Ggplot2
3. Caret

| Data Science Tools |
|--------------------|
| Apache Spark      |
| RStudio          |
| Jupyter Lab      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
A = (3*4)+5

This a simple arithmetic expression to mutiply then add integers

In [18]:
print (A)

17

In [23]:
B = (200 / 60)

This will convert 200 minutes to hours by diving by 60

In [24]:
print (B)

3.3333333333333335

## Author
Valentina Monterrey

Copyright Â©2025 IBM Corporation. All rights reserved.